.template__like {
  background: url(../../../images/main-likeheart.svg);
  background-repeat: no-repeat;
  height: 19px;
  width: 22px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.template__like:hover {
  opacity: 0.6;
}
