.button__add {
  background: url(../../../images/profile-addbutton.svg);
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
  background-position: center;
  border-color: #ffffff;
  border-width: 1px;
  display: flex;
  align-self: center;
  cursor: pointer;
  padding: 0;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .button__add {
    width: 282px;
    margin-top: 36px;
  }
}
